.hero {
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/index/hero-bg-img/480/hero-bg-img-480@x1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  //max-width: 480px;
  margin: auto;

  padding-top: 118px;
  padding-bottom: 118px;

  @include bg2x {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/index/hero-bg-img/480/hero-bg-img-480@x2.jpg);
  }

  @include tablet {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/index/hero-bg-img/768/hero-bg-img-768@x1.jpg);
    background-size: cover;
    // width: 768px;
    max-width: auto;

    @include bg2x {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/index/hero-bg-img/768/hero-bg-img-768@x2.jpg);
    }
  }

  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/index/bg.jpg);

    min-width: 1280px;
    max-width: 1600px;

    padding-top: 200px;
    padding-bottom: 200px;

    @include bg2x {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/index/hero-bg-img/1200/hero-bg-img-1200@x2.jpg);
    }
  }

  &__title {
    width: 360px;
    margin: auto;

    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--brend-color-3);

    margin-bottom: 30px;

    @include tablet {
    }

    @include desktop {
      width: 696px;

      font-size: 44px;
      line-height: calc(60 / 44);
    }
  }
}
