// .container {
//   width: 1200px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin: auto;
//   // the debug
//   // outline: 1px solid tomato;
// }

.container {
  width: 100%;

  @include tablet {
    // background-color: chartreuse;
    width: 100%;
  }

  @include desktop {
    // background-color: darkgoldenrod;
    width: 1200px;
  }
  padding-left: 15px;
  padding-right: 15px;

  margin: auto;
}
